.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .form-input{
        min-height: auto;
        padding-top: 0.33em;
        padding-bottom: 0.33em;
        background: transparent;
        transition: all 0.2s linear;
    }