<div class="container">
    <legend>Create Item</legend>
    <form>
      <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" name="name" [(ngModel)] = "courseForm.courseName" class="form-control" id="txtName" />
      </div>
      <div class="mb-3">
        <label for="txtQuantity" class="form-label">Category</label>
        <input type="text" name="category" [(ngModel)] = "courseForm.courseCategory" class="form-control" id="txtQuantity" />
      </div>
      <div class="mb-3">
        <label for="txtQuantity" class="form-label">Subjects</label>
        <mat-selection-list #shoes (selectionChange)="selectionChange($event)">
          <mat-list-option *ngFor="let subject of allSubjects" [value]="subject.id">
            {{subject.subjectName}}
          </mat-list-option>
        </mat-selection-list>        
        <p>
          Options selected: {{shoes.selectedOptions.selected.length}}
        </p>
      </div>
      <div class="mb-3">
        <label for="txtQuantity" class="form-label">Duration</label>
        <input type="text" name="category" [(ngModel)] = "courseForm.courseDuration" class="form-control" id="txtQuantity" />
      </div>
      <div class="mb-3">
        <label for="txtPrice" class="form-label">Cost</label>
        <input type="number" name="cost" [(ngModel)] = "courseForm.courseCost" class="form-control" id="txtPrice" />
      </div>
      <button type="button" (click)="create()" class="btn btn-primary">Create</button>
    </form>
  </div>
