<div style="background-color: #54B4D3;padding-top: 1px;
padding-bottom: 57px;">
<div class="container" style="position: relative;
top: 25px;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="./assets/img/architecture.jpg" class="card-img-top" alt="Hollywood Sign on The Hill"/>
            <div class="card-body">
              <h3 class="card-title">Architecture and Construction</h3>
              
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="./assets/img/developer-desk.jpg" class="card-img-top" alt="Palm Springs Road"/>
            <div class="card-body">
              <h3 class="card-title">Computer and Information Tech.</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card ">
            <img src="./assets/img/Mechanical.png" class="card-img-top" alt="Los Angeles Skyscrapers"/>
            <div class="card-body">
              <h3 class="card-title">Mechanical Electronics and Communication</h3>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="./assets/img/banner.jpg" class="card-img-top" alt="Skyscrapers"/>
            <div class="card-body">
              <h3 class="card-title">HR and Management</h3>
              
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card">
              <img src="./assets/img/journalism.jpg" class="card-img-top" alt="Skyscrapers"/>
              <div class="card-body">
                <h3 class="card-title">Arts and Journalism</h3>
                
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="./assets/img/science.jpg" class="card-img-top" alt="Skyscrapers"/>
              <div class="card-body">
                <h3 class="card-title">Science and Technology</h3>
                
              </div>
            </div>
          </div>
      </div>
</div>
</div>