<section>
<div  class="bg-image"
  style="background-image: url('./assets/img/university2.jpeg');
  height: 90vh;
  filter: blur(2px);
  -webkit-filter: blur(2px);">
</div>
<div class="container bg-text">
  <h1 style="text-align: center;
  font-size: xxx-large;
  color: white;">Welcome to ABC University Courses</h1>

  <p>
     Choosing a course shall never be a convenient
      option rather it should be a highly motivating choice 
      for the students. Interests, motivation, and goals are prime 
      factors students must consider while choosing a course from 
      the range of courses available to pursue after school. 
      Students can choose a course from top domains including 
      Engineering, Architecture, Design, Law, Applied Science, Business Studies,
     Management, Behavioral and Social Sciences, Economics, Media, Humanities,
     and more.
  </p>
</div>
<div class="container" style="width:min-content;">
  <h1 style="text-align: center;
  font-size: xxx-large;
  color: black;top:50px">University Key Features</h1>
  <div class="row row-cols-sm-4 g-8">
    <div class="col">
      <div class="card">
        <img src="./assets/icon/syllabus.png" alt="Hollywood Sign on The Hill"/>
        <div class="card-body">
          <h3 class="card-title">Advance Curriculum and Syllabus</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/icon/recruitment.png" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
          <h3 class="card-title">Placement and Career Service</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/icon/learning.png" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
          <h3 class="card-title">Learning Centric Acadamic Environment</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./assets/icon/industrial.png" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h3 class="card-title">Acadamic Research and Industry Partnership</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</section>